<!-- <div class="card w-100">    
    <form>
        <div class="container ">
            <div class="row align-items-center justify-content-center">
                <label for="de" class="col-1 ">De</label>
                <input type="number" id="de" class="col-4">
                <label for="ate" class="col-1">Até</label>
                <input type="number" id="ate" class="col-4">
                <button class="btn btn-outline-primary btn-sm col-1 mx-auto">Filtrar</button>
            </div>
        </div>
    </form>
</div> -->
<div class="card">
    <div class="card-header">Filtros</div>
    
    <div class="card-body">
        <form>
            <div class="row align-items-end justify-content-center">
            <div class="form-group col-5">                
                <label for="de">De</label>
                <input type="number" id="de" class="form-control">
            </div>
        
            <div class="form-group col-5">
                <label for="ate">Até</label>
                <input type="number" id="ate" class="form-control">
            </div>        
            <button class="btn btn-outline-primary col-2">Filtrar</button>  
            </div>
        </form>
    </div>
</div>
